
<html>
<head>
<title>Show</title>

</head>
<body>

  <form action='/animal/<%=list._id%>' method='POST'>
      Type: <input type='text' name='type' value="<%=list.type%>">
      deTAILS: <input type='text' name='details' value="<%=list.details%>">
      <br>
      <input class="submit" type="submit">
  </form>

</body>
</html>
