<html>
<head>
<title></title>

</head>
<body>

  <form action='/animal' method='POST'>
      Type: <input type='text' name='type'>
      deTAILS: <input type='text' name='details'>
      <br>
      <br>
      <input class="submit" type="submit">
  </form>

</body>
</html>
